<h1>Editing question</h1>

<% form_for([@campaign, @question]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', [@campaign, @question] %> |
<%= link_to 'Back', campaign_questions_path(@campaign) %>
