<h1>Listing questions in <%= @survey.name %></h1>

<table>
  <tr>
    <th>Text</th>
  </tr>

<% for question in @questions %>
  <tr>
    <td><%=h question.text %></td>
    <td><%= link_to 'Show', [@survey, question] %></td>
    <td><%= link_to 'Edit', edit_survey_question_path(@survey, question) %></td>
    <td><%= link_to 'Destroy', [@survey, question], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New question', new_survey_question_path(@survey) %> |
<%= link_to "Back to #{@survey.name}", @survey %>
