<%= link_to 'cancel', survey_questions_path, :class => 'cancel_button header' %>

<h1>
  <span class="survey">Survey: <strong><%= @survey.name %></strong></span>
  Create Question <span class="count">2 of 3</span>
</h1>

<% form_for([@survey, @question]) do |f| %>
  <%= f.error_messages %>
  <div class="grey_box">
    <div class="field">
      <%= f.label :text %>
      <%= f.text_field :text %>
    </div>
  </div>
  <div class="submit">
    <input type="image" alt="create question" src="/images/create_question_button.png" />
    <%= link_to 'cancel', survey_questions_path, :class => 'cancel_button' %>
  </div>
<% end %>
