<h1>New question for <%= @campaign.name %></h1>

<% form_for([@campaign, @question]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', campaign_questions_path %>
