<h1>Log In</h1>

<% form_tag session_path, :id => 'login_form' do -%>
  <div class="grey_box">
    <div class="field">
      <%= label_tag 'login' %>
      <%= text_field_tag 'login', @login %>
    </div>

    <div class="field">
      <%= label_tag 'password' %>
      <%= password_field_tag 'password', nil %>
    </div>

    <div class="field checkbox">
      <%= label_tag 'remember_me', "#{check_box_tag('remember_me', '1', @remember_me)} Remember me" %>
    </div>

    <div class="submit">
        <%= image_submit_tag 'login_button.png', :alt => 'Log in' %>
      <p>
        or <%= link_to 'Sign up!', new_user_path %>
      </p>
    </div>
<% end -%>
