<h1>Log In</h1>

<% form_tag session_path, :id => 'login_form' do -%>
  <div class="grey_box">
    <div class="field">
      <%= label_tag 'login' %>
      <%= text_field_tag 'login', @login %>
    </div>

    <div class="field">
      <%= label_tag 'password' %>
      <%= password_field_tag 'password', nil %>
    </div>

    <!-- Uncomment this if you want this functionality
    <p><%= label_tag 'remember_me', 'Remember me' %>
    <%= check_box_tag 'remember_me', '1', @remember_me %></p>
    -->

    <div class="submit">
      <input type="image" src="/images/login_button.png" alt="login" />
    </div>
  </div>
<% end -%>
