<h1>Log In</h1>

<% form_tag session_path, :id => 'login_form' do -%>
  <div class="grey_box">
    <div class="field">
      <%= label_tag 'login' %>
      <%= text_field_tag 'login', @login %>
    </div>

    <div class="field">
      <%= label_tag 'password' %>
      <%= password_field_tag 'password', nil %>
    </div>

    <p><%= label_tag 'remember_me', 'Remember me' %>
    <%= check_box_tag 'remember_me', '1', @remember_me %></p>


  <div class="submit">
    <p>
      <%= image_submit_tag 'login_button.png', :alt => 'Log in' %>
      or <%= link_to 'Sign up!', new_user_path %>
    </p>
  </div>
<% end -%>
