<p>Name: <%= @survey.name %></p>
<p>Amount: <%= @survey.amount %></p>

<%= link_to 'Questions', survey_questions_path(@survey) %><br /><br />

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Delete', survey_path(@survey), :method => :delete, :confirm => 'Are you sure?' %> |
<%= link_to 'Back', surveys_path %>
